/* RESET */
* {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, button, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img, svg {
	width: 100%;
	height: auto;
	display: block;
}

/* ---------- */

/* -- General */
html, body {
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	background-color: #f0f0f0;
}

p {
	margin-bottom: .4em;
}
	.grey-title {
		color: #b9b9b9;
	}
a {
	text-decoration: underline;
	color: #1a88ef;
	-webkit-transition: .3s;
	transition: .3s;
}
	a:hover, .portfolio-project:hover p.more-info {
		color: #a23141;
	}
	a.more-info, p.more-info {
		font-size: .8em;
		text-decoration: none;
		position: relative;
	}
	span.link-arrow, .portfolio-project p.more-info span.link-arrow {
		position: absolute;
		box-sizing: content-box;
		width: 11px;
		padding: 9px 0 0 6px;
		fill: #1e7095;
		-webkit-transition: .2s;
		transition: .2s;
	}
		.portfolio-project p.more-info span.link-arrow {
			padding-top: 4px;
		}
		a.more-info:hover span.link-arrow, .portfolio-project:hover p.more-info span.link-arrow {
			fill: #a23141;
			padding: 9px 0 0 9px;
		}
			.portfolio-project:hover p.more-info span.link-arrow {
				padding-top: 4px;
			}
a.cta-1, a.cta-2 {
	color: #fff;
	font-size: 1em;
	line-height: 1.25em;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 12px 31px;
	background-color: #1e7095;
}
a.cta-2 {
	color: #333;
	background: transparent;
	padding: 11px 30px;
	border: 1px solid #333;
}
	a.cta-1:hover {
		color: #fff;
		background-color: #114055;
	}
	a.cta-2:hover {
		color: #fff;
		background-color: #114055;
		border-color: #114055;
	}
a.button-back, a.next-section {
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	padding: 20px 15px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
	-webkit-transition: .3s;
	transition: .3s;
}
	a.next-section {
		padding: 15px 20px;
		left: 90px;
		bottom: -30px;
	}
	a.button-back:hover, a.next-section:hover {
		fill: #1e7095;
		background-color: #fff;
		box-shadow: 0 3px 4px rgba(0,0,0,.22);
	}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 5.5em;
	line-height: .9em;
	text-transform: uppercase;
	color: #1e7095;
	margin-bottom: .35em;
}
h2 {
	font-family: 'Bitter', serif;
	font-size: 16px;
	line-height: 22px;
	color: #1e7095;
	margin-bottom: 4px;
}
h3 {
	font-family: 'Bitter', serif;
	text-transform: uppercase;
	color: #333;
	position: relative;
	padding-left: 35px;
	margin-top: 60px;
	left: 0;
}
	h3::before {
		content: "";
		width: 30px;
		height: 2px;
		display: block;
		background-color: #333;
		position: absolute;
		left: 0;
		bottom: 11px;
	}

/* -- Page Codes -- */

/* General Codes */
section {
	width: 100%;
	min-height: 100vh;
	display: block;
	padding: 85px;
}
	.inner-area {
		width: 100%;
		height: calc(100vh - 170px);
		display: table;
		position: relative;
		background-color: #fafafa;
	}

	.section-title-h3 {
		position: absolute;
		left: 0;
		z-index: 10;
	}

	.section-wrapper {
		width: 94%;
		text-align: center;
		display: block;
		margin: 5em auto;
	}
		.section-left {
			width: 47%;
			text-align: left;
			display: inline-block;
			margin-right: 1em;
			vertical-align: top;
		}
		.section-right {
			width: 47%;
			text-align: left;
			display: inline-block;
			margin-left: 1em;
			vertical-align: top;
		}
		.section-single {

		}
			.cta-container {
				margin-top: 1.75em;
				display: block;
			}

/* -- Header -- */
header {
	width: 100%;
	padding: 1.25em 85px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
}

#header-logo {
	width: 250px;
	display: table;
	float: left;
}
	a#button-logo-header {
		display: block;
		cursor: pointer;
		text-decoration: none;
	}
		#platyphant-icon {
			width: 28%;
			display: inline-block;
			vertical-align: middle;
		}
		#platyphant-logotype {
			width: 65%;
			display: inline-block;
			margin-left: 5%;
			vertical-align: middle;
			overflow: hidden;
		}

nav {
	font-size: .8em;
	display: table;
	padding-top: 4px;
	float: right;
}
	nav a {
		font-size: .85em;
		line-height: 1.15em;
		text-transform: uppercase;
		text-decoration: none;
		margin: 0 0.5em;
	}
		nav a:first-child {
			margin-left: 0;
		}
		nav a:last-child {
			margin-right: 0;
		}

/* -- Hero -- */
section#hero .inner-area {
	background-color: #1e7095;
}

/* -- About Us -- */
section#about-us .inner-area {
	background-color: #1e7095;
}

/* -- Contact -- */
section#contact .inner-area {
	padding: 0;
	background-color: #161616;
}
	.contact-left {
		width: 50%;
		height: calc(100%);
		display: inline-block;
		vertical-align: top;
	}
	.contact-right {
		width: 50%;
		height: calc(100%);
		display: inline-block;
		vertical-align: top;
	}
		.contact-right form {
			width: 100%;
			display: block;
		}
		.contact-right .social-media {

		}
			.contact-right .social-media a {
				width: 50px;
				padding: 15px;
				display: inline-block;
				border-radius: 50%;
				border: 1px solid #444;
				fill: #444;
				margin-right: 7px;
			}
				.contact-right .social-media a:last-child {
					margin-right: 0;
				}
				.contact-right .social-media a:hover {
					border: 1px solid #555;
					fill: #ccc;
				}

/* -- Footer -- */
footer {
	width: 100%;
	font-size: .7em;
	color: #aaa;
	display: table;
	padding: 1em 110px;
}
	span.ft-spacing {
		display: inline-block;
		margin: 0 1em;
	}
	#footer-icon {
		width: 50px;
		display: inline-block;
		vertical-align: middle;
		float: left;
	}
	#footer-links {
		display: inline-block;
		vertical-align: middle;
		float: right;
		padding-top: .6em;
	}


/* HOME PAGE */
.hp-service, .hp-partners {
	margin-bottom: 2em;
}
	.hp-service:last-child, .hp-partners:last-child {
		margin: 0;
	}
	.hp-service-icon {
		width: 56px;
		display: inline-block;
		vertical-align: top;
	}
	.hp-partners-icon {
		width: 220px;
		display: inline-block;
		vertical-align: top;
	}
	.hp-service-content, .hp-partners-content {
		width: calc(100% - 70px);
		display: inline-block;
		vertical-align: top;
	}
		.hp-partners-content {
			width: calc(100% - 240px);
		}

.client-list {
	width: 100%;
	display: block;
	margin-top: 2em;
}
	.client-list-wrapper {
		width: 100%;
		display: block;
	}
		.grey-title {
			font-size: .75em;
			line-height: 1.15em;
			margin-bottom: 1.25em;
		}
		.client-list-logo {
			width: 31%;
			margin: 1% 1% 0 0;
			display: inline-block;
			border: 1px solid #ddd;
		}
.portfolio-gallery {
	width: 50vw;
	display: table;
	padding: 0;
	position: absolute;
	z-index: 20;
	overflow: hidden;
	background-color: teal;
}
	.portfolio-gallery-wrapper {
		width: 1515px;
		display: block;
		position: relative;
	}
		.portfolio-project {
			color: #333;
			text-decoration: none;
			width: 250px;
			background-color: #fff;
			display: inline-block;
			padding: 0;
			margin: 0 50px 0 0;
			position: relative;
			top: 0;
			border-radius: 4px;
			overflow: hidden;
			box-shadow: 0 3px 4px rgba(0,3,0,.18);
		}
			.portfolio-project:hover {
				top: -2px;
				box-shadow: 0 7px 6px rgba(0,0,0,.26);
			}
			.portfolio-thumb {
				width: 100%;
				height: 250px;
			}
			.portfolio-info {
				width: 100%;
				font-size: .9em;
				line-height: 1.5em;
				padding: 1.5em;
			}
				.portfolio-info p.more-info {
					color: #1e7095;
				}


















