/* RESET */
* {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, button, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img, svg {
	width: 100%;
	height: auto;
	display: block;
}

/* ---------- */

/* -- General */
html, body {
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #333;
	background-color: #f0f0f0;
}

p {
	margin-bottom: .4em;
}
	.grey-title {
		color: #b9b9b9;
	}
a {
	text-decoration: underline;
	color: #1a88ef;
	-webkit-transition: .3s;
	transition: .3s;
}
	a:hover {
		color: #a23141;
	}
	a.more-info {
		font-size: .8em;
		text-decoration: none;
		position: relative;
	}
	span.link-arrow {
		position: absolute;
		box-sizing: content-box;
		width: 11px;
		padding: 9px 0 0 6px;
		fill: #1e7095;
		-webkit-transition: .2s;
		transition: .2s;
	}
		a.more-info:hover span.link-arrow {
			fill: #a23141;
			padding: 9px 0 0 9px;
		}
a.cta-1, a.cta-2 {
	color: #fff;
	font-size: 1.1em;
	line-height: 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 12px 31px;
	background-color: #1e7095;
}
a.cta-2 {
	color: #333;
	background: transparent;
	padding: 11px 30px;
	border: 1px solid #333;
}
	a.cta-1:hover {
		color: #fff;
		background-color: #114055;
	}
	a.cta-2:hover {
		color: #fff;
		background-color: #114055;
		border-color: #114055;
	}
a.button-back, a.next-section {
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	padding: 20px 15px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
	-webkit-transition: .3s;
	transition: .3s;
}
	a.next-section {
		padding: 15px 20px;
		left: 90px;
		bottom: -30px;
	}
	a.button-back:hover, a.next-section:hover {
		fill: #1e7095;
		background-color: #fff;
		box-shadow: 0 3px 4px rgba(0,0,0,.22);
	}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 90px;
	line-height: 84px;
	text-transform: uppercase;
	color: #1e7095;
	margin-bottom: 40px;
}
h2 {
	font-family: 'Bitter', serif;
	font-size: 16px;
	line-height: 22px;
	color: #1e7095;
	margin-bottom: 4px;
}
h3 {
	font-family: 'Bitter', serif;
	text-transform: uppercase;
	color: #333;
	position: relative;
	padding-left: 35px;
	margin-top: 60px;
	left: 0;
}
	h3::before {
		content: "";
		width: 30px;
		height: 2px;
		display: block;
		background-color: #333;
		position: absolute;
		left: 0;
		bottom: 11px;
	}

/* -- Page Codes -- */

/* General Codes */
section {
	width: 100%;
	min-height: 100vh;
	display: block;
	padding: 85px;
}
	.inner-area {
		width: 100%;
		height: 100%;
		display: table;
		position: relative;
		background-color: #fafafa;
	}

	.section-title-h3 {
		position: absolute;
		left: 0;
		z-index: 10;
	}

	.section-wrapper {
		width: 90%;
		text-align: center;
		display: block;
		margin: 5em auto;
		background-color: teal;
	}
		.section-left {
			width: 40%;
			text-align: left;
			display: inline-block;
			margin-right: 1em;
			vertical-align: top;
			background-color: red;
		}
		.section-right {
			width: 40%;
			text-align: left;
			display: inline-block;
			margin-left: 1em;
			vertical-align: top;
			background-color: fuchsia;
		}
		.section-single {

		}

/* -- Header -- */
header {
	width: 100%;
	padding: 1.25em 85px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
}

#header-logo {
	width: 250px;
	display: table;
	float: left;
}
	a#button-logo-header {
		display: block;
		cursor: pointer;
		text-decoration: none;
	}
		#platyphant-icon {
			width: 28%;
			display: inline-block;
			vertical-align: middle;
		}
		#platyphant-logotype {
			width: 65%;
			display: inline-block;
			margin-left: 5%;
			vertical-align: middle;
			overflow: hidden;
		}

nav {
	font-size: .8em;
	display: table;
	padding-top: 4px;
	float: right;
}
	nav a {
		font-size: .85em;
		line-height: 1.15em;
		text-transform: uppercase;
		text-decoration: none;
		margin: 0 0.5em;
	}
		nav a:first-child {
			margin-left: 0;
		}
		nav a:last-child {
			margin-right: 0;
		}

/* -- Hero -- */
section#hero .inner-area {
	background-color: #1e7095;
}

/* -- About Us -- */
section#about-us .inner-area {
	background-color: #1e7095;
}

/* -- Contact -- */
section#contact .inner-area {
	background-color: #161616;
}

/* -- Footer -- */
footer {
	width: 100%;
	font-size: .7em;
	color: #aaa;
	display: table;
	padding: 1em 110px;
}
	span.ft-spacing {
		display: inline-block;
		margin: 0 1em;
	}
	#footer-icon {
		width: 50px;
		display: inline-block;
		vertical-align: middle;
		float: left;
	}
	#footer-links {
		display: inline-block;
		vertical-align: middle;
		float: right;
		padding-top: .6em;
	}




















